<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- @@GENERATED_NOTE@@ -->
<plist version="1.0">
<dict>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleIdentifier</key>
  <string>local.icp-deploy.launcher</string>
  <key>CFBundleName</key>
  <string>ICP Deploy</string>
  <key>CFBundleDisplayName</key>
  <string>ICP Deploy</string>
  <key>CFBundleExecutable</key>
  <string>icp-deploy</string>
  <key>CFBundleIconFile</key>
  <string>icon</string>
  <key>CFBundleShortVersionString</key>
  <string>@@VERSION@@</string>
  <key>CFBundleVersion</key>
  <string>@@VERSION@@</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.developer-tools</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
